<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>献立る</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/new.scss">
  </head>
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
</html>
