/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    margin-top: 10%;
  }
  .all-meals {
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
  }
  .meals-container {
    display: flex;
    align-items: center;
    margin: 1% 5%;
  }
  .meal {
    position: relative;
    width: 100%;
    margin: 5% auto;
    padding: 3%;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5%;
  }
  .meal a {
    text-decoration: none;
    color: black;
  }
  .meal .mealname {
    font-size: 120%;
    margin: 3%;
    border: 3px dashed black;
  }
  .meal .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .meal .link .caption {
    width:			100%;
    height:			100%;
    top:			0;
    left:			0;
    position:		absolute;
  }
  .meal .link:hover .caption {
    visibility:		visible;
  }
  .meal .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition:	all 0.4s ease;
    transition:		all 0.4s ease;
    visibility: hidden;
    opacity: 0.9;
    bottom: -100%;
  }
  .meal .link:hover .mask {
    bottom: 0;
  }
  .like {
    margin-left: 3%;
    background-color: white;
    border-radius: 30%;
    margin-top: 3%;
    display: flex;
    padding: 3%;
  }
  .like a {
    text-decoration: none;
    color: black;
  }
  .like:hover {
    background-color: #ffbeeb;
  }
  .like span {
    color: black;
  }
  .like i {
    color: red;
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF8514;
    height: 7%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  .header-list li:hover {
    color: #DDDDDD;
    opacity: 0.7;
  }
  .header-list span {
    font-size: 30%;
  }
  
  .top-btn {
    position: fixed;
    right: 30px;
    bottom: 12%;
  }
  .top-btn a {
    width: 50px;
    height: 50px;
  }
  .under-menu-box {
    display: flex;
    position:fixed;
    width: 100%;
    height: 7%;
    bottom: 0;
    background-color: #FFE482;
    align-items: center;
    font-size: 0%;
    opacity: 0.9;
    z-index: 2;
  }
  .under-menu-box li {
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #fff;
  }
  .under-menu-box li a {
    color: black; 
    background: #FFE482;
    width: 480px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    padding: 20px
  }
  .under-menu-box ul {
    display: flex;
    list-style: none;
    padding-top: 0;
    margin: 0;
  }

  .under-menu-box span {
    font-size: 90%;
  }
  footer {
    color: #FFFFFF;
    height: 200px;
    background-color: rgb(92, 92, 92);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }