  h3 {
    margin: 30px auto;
    text-align: center;
  }
  .search-form {
    background-color: #FFC692;
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .search-form div {
    background-color: white;
    margin: 1% auto;
    width: 90%;
    border-radius: 10%;
  }
  .popular-block {
    background-color: #FFD8D8;
    width: 90%;
    margin: 10% auto;
    padding-top: 4%;
    padding-bottom: 7%;
  }
  .recent-block {
    background-color: #C6FFE3;
    width: 90%;
    margin: 10% auto;
    padding-top: 4%;
    padding-bottom: 7%;
  }
  .recent-block .meal i {
    color: green;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  