.post-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFC692;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    width: 95%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
  }
  .field {
    width: 90%;
    margin: 0 auto;
    background-color: #FFC692;
    text-align: center;
  }
  .actions {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }