
.user-profile {
    width: 90%;
    margin: 10% auto;
    background-color: #FFC692;
}
.user-white-block {
    background-color: white;
    width: 80%;
    margin: 5% auto;
    border-radius: 5%;
}
.user-logout {
    text-align: right;
}
.user-logout span {
    font-size: small;
}
.user-logout a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}
.user-logout p {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    border-radius: 30%;
    border: 5px solid #FFC692;
}
.user-logout p:hover {
    background-color: #ffc895;
    border: 5px solid #FFC692;
}
.edit-btn {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 80%;
    border-radius: 30%;
    position: relative;
}

.edit-btn .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.edit-btn .link:hover {
    opacity: 0.5;
    background-color: #DDDDDD;
}
.edit-btn a {
    text-decoration: none;
    color: black;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon {
    margin: 5%;
}
.user-info {
    margin: 3%;
}
.user-info h3 {
    text-align: left;
    background-color: #FFC692;
    display: inline-block;
    margin-top: 0%;
}
.icon {
    border-radius: 50%;
    border: 2px solid black;
}
.meal-detail {
    display: flex;
    justify-content: center;
}
.detail-title {
    text-align: left;
    margin-right: 3%;
}
.detail-title p {
    border-bottom: 3px solid #FFC692;
}
.detail-content {
    text-align: left;
    margin-left: 3%;
}
.detail-content p {
    border-bottom: 3px solid #FFC692;
}
.meal span:hover {
    text-decoration: underline;
}
.user-post-meals {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #C6FFE3;
    padding-top: 7%;
    padding-bottom: 7%;
}
.user-like-meals {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #FFD8D8;
    padding-top: 7%;
    padding-bottom: 7%;
}
.meal-show {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #FFC692;
    padding-top: 7%;
    padding-bottom: 7%;
}

.comment-wrapper {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    margin-bottom: 5%;
    background-color: #EADAFF;
    padding-top: 7%;
    padding-bottom: 7%;
}
.comment {
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.comment-content {
    background-color: white;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    margin: 3% 8% 3% 0;
    padding: 3% 5%;
    min-width: 50%;
    max-width: 100%;
    font-size: 16px;
    text-align: left;
}
.comment-content:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid white;
}
.comment-content p {
    margin: 0;
    padding: 0;
}
.comment-user {
    right: 0;
}