
.user-profile {
    width: 90%;
    margin: 10% auto;
    background-color: #FFC692;
}
.user-white-block {
    background-color: white;
    width: 80%;
    margin: 5% auto;
    border-radius: 5%;
}
.user-logout {
    text-align: right;
}
.user-logout span {
    font-size: small;
}
.user-logout a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}
.user-logout p {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    border-radius: 30%;
    border: 5px solid #FFC692;
}
.user-logout p:hover {
    background-color: #ffc895;
    border: 5px solid #FFC692;
}
.edit-btn {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 80%;
    border-radius: 30%;
    position: relative;
}

.edit-btn .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.edit-btn .link:hover {
    opacity: 0.5;
    background-color: #DDDDDD;
}
.edit-btn a {
    text-decoration: none;
    color: black;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon {
    margin: 5%;
}
.user-info {
    margin: 3%;
}
.user-info h3 {
    text-align: left;
    background-color: #FFC692;
    display: inline-block;
    margin-top: 0%;
}
.icon {
    border-radius: 50%;
    border: 2px solid black;
}

.meal-detail {
    display: flex;
    justify-content: center;
}
.detail-title {
    text-align: left;
    margin-right: 3%;
}
.detail-title p {
    border-bottom: 3px solid #FFC692;
}
.detail-title p:first-child i {
    color: blue;
}
.detail-title p:nth-child(2) i {
    color: green;
}
.detail-title p:nth-child(3) i {
    color: brown;
}
.detail-title p:nth-child(4) i {
    color: rgb(175, 51, 212);
}
.detail-title p:nth-child(5) i {
    color: rgb(167, 167, 167);
}
.detail-content {
    text-align: left;
    margin-left: 3%;
}
.detail-content p {
    border-bottom: 3px solid #FFC692;
}
.meal span:hover {
    text-decoration: underline;
}
.post-sidemenu {
    margin-right: 2%;
}
.like_and_comment {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.do_like {
    flex-basis: 120px;
    margin: 5%;
}
.do_like p {
    background-color: white;
    margin: 5%;
}
.do_like p:first-child {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    border-radius: 10%;
    border: 1px solid black;
}
.do_like:hover p:first-child {
    background-color: #ffbeeb;
}
.do_like:hover p:nth-child(2) {
    background-color: rgb(221, 221, 221);
}
.do_like p:nth-child(2) {
    font-size: 90%;
    border-radius: 5%;
    border: 0.6px solid black;
    background-color: rgb(236, 236, 236);
}
.do_like a {
    text-decoration: none;
    color: black;
}
.do_like span {
    color: black;
}
.do_like i {
    color: red;
}
.do_comment {
    margin: 5%;
}
.do_comment_meal {
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5%;
    flex-basis: 10%;
}
.do_comment_meal a {
    text-decoration: none;
    color: black;
}
.do_comment_meal:hover {
    background-color: rgb(238, 238, 238);
}
.do_comment_meal .mealname {
    font-size: 120%;
    margin: 3%;
    border: 3px dashed black;
  }
.edit-icon {
    background-color: white;
    border-radius: 30%;
    margin-top: 3%;
}
.edit-icon:hover {
    background-color: rgb(162, 187, 255);
    border: 2px solid blue;
}
.edit-icon a {
    text-decoration: none;
    color: black;
}
.edit-icon i {
    color: blue;
}
.delete-icon {
    background-color: white;
    border-radius: 30%;
    margin-top: 5%;
}
.delete-icon:hover {
    background-color: rgb(146, 146, 146);
    border: 2px solid red;
}
.delete-icon a {
    text-decoration: none;
    color: black;
}
.user-post-meals {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #C6FFE3;
    padding-top: 7%;
    padding-bottom: 7%;
}
.user-post-meals .meal span:hover {
    text-decoration: underline;
}
.user-like-meals {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #FFD8D8;
    padding-top: 7%;
    padding-bottom: 7%;
}
.meal-show {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    background-color: #FFC692;
    padding-top: 7%;
    padding-bottom: 7%;
}

.comment-wrapper {
    width: 90%;
    margin: 10% auto;
    text-align: center;
    margin-bottom: 5%;
    background-color: #EADAFF;
    padding-top: 7%;
    padding-bottom: 7%;
}
.comment-wrapper .meal span:hover {
    text-decoration: underline;
}
.comment {
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.comment-content {
    background-color: white;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    margin: 3% 8% 3% 0;
    padding: 3% 5%;
    min-width: 50%;
    max-width: 100%;
    font-size: 16px;
    text-align: left;
}
.comment-content:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid white;
}
.comment-content p {
    margin: 0;
    padding: 0;
}
.comment-user {
    right: 0;
}